<%= form_for([@location, @attraction], html: {id: "attraction-form"}, :remote => true) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Attraction Name" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Description" %>
  </div>
  <div class="form-group">
    <%= f.label :attraction_type %>
    <%= f.text_field :attraction_type, placeholder: "Type" %>
  </div>
  <%= f.button "Close", :id => "close-modal",:style => "display:none", :"data-dismiss" => "modal" %>
  <%= f.submit "Save", :class => "btn btn-primary"%>
<% end %>