<%= form_for([@location, attraction], html: {id: "attraction-form", class: "form-horizontal"}, :remote => true) do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "col-md-2 control-label" %>
    <%= f.text_field :name, class: "col-md-10", placeholder: "Attraction Name" %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-md-2 control-label" %>
    <%= f.text_area :description, class: "col-md-10", rows: "10", placeholder: "Description" %>
  </div>
  <div class="form-group">
    <%= f.label :attraction_type, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.select :attraction_type, ["Landmarks", "Dining", "Other"], {}, class: "type-selection" %>
    </div>
  </div>
  <%= f.submit "Save", :class => "btn btn-primary"%>
<% end %>