<li data-attraction-id="<%= attraction.id %>">
  <p>Name: <%= attraction.name %></p>
  <p>Description: <%= attraction.description %></p>
  <p>type: <%= attraction.attraction_type %></p>
  <p><%= link_to_edit(attraction) %> </p>
  <p><%= link_to_destroy(attraction) %> </p>
</li>
