 <body style="background-image: url('<%= @location.hero_image_url %>');">
 <div id="overlay"></div>
    <!-- Outer Container -->
    <div id="outer-container">

      <!-- Left Sidebar -->
      <section id="left-sidebar">


        <!-- Menu Icon for smaller viewports -->
        <div id="mobile-menu-icon"></div>

        <!-- ==================================================================
        MAIN MENU
        ==================================================================  -->
        <ul id="main-menu">
          <li id="menu-item-tabs" class="menu-item scroll"><a href="#lodgings">Lodging</a></li>
          <li id="menu-item-grid" class="menu-item scroll"><a href="#attractions">Attractions</a></li>
          <li id="menu-item-featured" class="menu-item scroll"><a href="#gallery">Image Gallery</a></li>
        </ul>
        <!-- ==================== END: MAIN MENU ==================== -->

      </section><!-- #left-sidebar -->
      <!-- end: Left Sidebar -->

      <!-- ==================================================================
      MAIN CONTENT
      ==================================================================  -->
      <!-- all the website sections are contained in the <article> tag with class ".section-wrapper" and a unique id.
           - to edit / remove / create website sections, you have to handle the content contained in these <article> tags -->
      <section id="main-content" class="clearfix">

        <!-- ==================== SECTION TYPE: Intro Text ==================== -->
        <!-- This type of section should contain heading and intro paragraph. It can also include links to other sections -->
        <article id="intro" class="section-wrapper clearfix">
          <div class="content-wrapper clearfix">
            <div class="col-sm-10 col-md-9 pull-right">


                <!-- <p> text in .feature-text is larger  -->
                <section class="feature-text">
                  <h1><strong><%= @location.city %>,</strong> <%= @location.country %></h1>
                  <h2><%= @location.region %></h2>
                  <p class="feature-paragraph"><%= @location.description %> </p>
                  <h4>Current Weather</h4>
                  <p><%#= @weather.current_weather(@location)["temp_string"] %></p>
                  <p><%#= @weather.forecast_text(@location) %></p>
                  <!-- to add scrolling effects to links linking to same page section, add .link-scroll class -->
                </section>
           </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->
        <!-- ==================== END: SECTION TYPE: Intro Text ==================== -->

        <!-- ==================== SECTION TYPE: Features Grid ==================== -->

        <article id="lodgings" class="section-wrapper clearfix">
          <div class="content-wrapper clearfix">
            <div class="col-sm-11 col-md-10 pull-right">

              <!-- Start: Section content to edit -->

                <h1 class="section-title">Lodgings</h1>


                <section class="grid row clearfix clearfix-for-3cols">
                  <% @lodging_analytics.each do |bucket| %> <!-- featuring sample longings -->
                  <!-- grid item -->
                  <div class="grid-item col-md-4">
                    <div class="item-content clearfix">
                      <!-- <img data-img-src="assets/images/other_images/transp-image1.png" class="lazy icon" alt="Lorem Ipsum"> -->
                      <!-- if you want to use a custom icon instead, replace the below <span> with the commented <img> above -->
                      <span class="icon fa fa-area-chart"></span>
                      <div class="text-content" >
                        <h5>Beds: <%= bucket.beds %></h5>
                        <p>Avg Cost/Night: $<%= bucket.average_cost.round(2)%></p>
                      </div>
                    </div><!-- end: .item-content -->
                  </div><!-- end: .grid-item -->
                  <% end %> <!-- featuring sample longings END -->
                </section><!-- end: grid -->


                <section class="grid row clearfix clearfix-for-3cols">
                  <% @sample_lodgings.each do |lodging| %> <!-- featuring sample longings -->
                  <!-- grid item -->
                  <div class="grid-item col-md-4">
                    <div class="item-content clearfix">
                      <!-- <img data-img-src="assets/images/other_images/transp-image1.png" class="lazy icon" alt="Lorem Ipsum"> -->
                      <!-- if you want to use a custom icon instead, replace the below <span> with the commented <img> above -->
                      <div class="text">
                        <h5><%= link_to lodging.name, lodging.booking_url, target: "_blank"%></h5>
                        <p><%= lodging.description.truncate(100, separator: ' ') %></p>
                      </div>
                    </div><!-- end: .item-content -->
                  </div><!-- end: .grid-item -->
                  <% end %> <!-- featuring sample longings END -->
                </section><!-- end: grid -->
            </div><!-- .col-sm-11 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->
        <!-- ==================== END: SECTION TYPE: Features Grid ==================== -->


        <!-- ==================== SECTION TYPE: Tabs ==================== -->
        <article id="attractions" class="section-wrapper clearfix">
          <%= render "locations/attraction_section" %>
          <%= render "locations/attractions/modal" %>
        </article><!-- .section-wrapper -->
        <!-- ==================== END: SECTION TYPE: Tabs ==================== -->

      <!-- ==================== SECTION TYPE: Featured Items ==================== -->
        <!-- This type of section should contain a max. of 3 items each consisting of an image and text. Each item may be linked -->
        <!-- FOR EACH SECTION <article class="section-wrapper".. :
             - remember to use a unique id,
             - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section -->
        <article id="gallery" class="section-wrapper clearfix">
          <div class="content-wrapper clearfix gallery gallery">
            <div class="col-sm-11 pull-right">

              <!-- Start: Section content to edit -->

                <h1 class="section-title">See more of <%= @location.city %></h1>

                <!-- feature columns -->
                <section class="feature-columns row clearfix">

                  <!-- Gallery -->
                      
                <h5>All photos grabbed from Flickr!</h5>
                <div class="container">
                    <% @location.gallery_images.each do |pic| %>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                          <a href="<%= pic.source %>" target="_blank">
                            <img src="<%= pic.url %>" class="thumbnail img-responsive">
                          </a>
                        </div>
                    <% end %>
                </div>
 galleryem
                  <!-- END: Gallery-->

                </section><!-- end: .feature-columns -->

              <!-- End: Section content to edit -->

            </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->
        <!-- ==================== END: SECTION TYPE: Featured Items ==================== -->
      </section><!-- #main-content -->
    </div><!-- #outer-container -->
    <!-- end: Outer Container -->

    <!-- IE9 form fields placeholder fix -->
    <!--[if lt IE 9]>
    <script>contact_form_IE9_placeholder_fix();</script>
    <![endif]-->

  </body>