<!-- 1. Hero image specific to the city selected (FLICKR API)
2. City Name in pretty font (DB)
3. Icon menu options (side nav w anchor links + scrolling)
  - gallery? (FLICKR API)
  - attractions (SEEDING THE DB MANUALLY)
  - lodgings (ZILYO API)
  - weather (WUNDERGROUND API)
4. Links to index & api sponsors -->


<h1><%= @location.city %></h1>

<h3>Weather</h3>
<p><%= @weather.current_weather(@location)["temp_string"] %></p>
<p><%= @weather.forecast_text(@location) %></p>

<h3>Lodging</h3>

<%- @lodging_analytics.each do |bucket| -%>
  <p>Beds: <%= bucket.beds %>, Avg Cost/Night: $<%= bucket.average_cost.round(2) %> </p><br>
<%- end -%>

<ul>
  <% @sample_lodgings.each do |lodging| %>
  <li><%= lodging.name %></li>
  <% end %>
</ul>

<br>

<ul id="attraction-list">
  <%= render partial: "locations/attraction", collection: @location.attractions, as: :attraction %>
</ul>

<%= form_for([@location, Attraction.new], html: {id: "attraction-form"}, :remote => true) do |f| %>
  <%= f.text_field :name, placeholder: "Attraction Name"  %>
  <%= f.text_area :description, placeholder: "Description" %>
  <%= f.text_field :attraction_type, placeholder: "Type" %>
  <%= f.submit %>
<% end %>



<% @location.images.each do |image| %>

  <div class="col-md-4">
    <a href="<%= image.source %>" class="gallery-img" target="_blank">
      <img src="<%= image.url %>" alt="<%= image.caption %>" style="width:200px;height:200px">
    </a>
  </div>

<% end %>


